.btn-wrapper{
	position: absolute;
	top:20%;
	left: 20%;
}
.circle{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border:0;
	font-size: 20px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	position: relative;
	z-index: 10;
	cursor: pointer;

}

.pulse-btn{
	background: #000;
	color: #fff;
	-webkit-transform: translate(0,-30%);
	-ms-transform: translate(0,-30%);
	transform: translate(0,-30%);
	font-size: 25px;
}
.pulse-btn i{
	position: relative;
	z-index: 11;
}

.pulse-btn::before{
	background: #000;
	content: "";
	opacity: 0.9;
	display: inherit;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px #000;
	-webkit-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse{
	from{
		opacity: 0.9;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
	to{
		opacity: 0;
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
}
@keyframes pulse{
	from{
		opacity: 0.9;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
	to{
		opacity: 0;
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
}

.ui-btn:focus, .pulse-btn:focus{
	outline: none;
}

.popup{
	display: none;
	width: 300px;
	background: #fff;
	color:#222525;
	padding: 20px 20px;
	border-radius: 18px;
	position: relative;
	z-index: 5;

}
.popup-content{
	opacity: 0;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}

.contentFade .popup-content{
	opacity: 1;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}

.popup h1{
	color: #047d92;
	font-family: inherit;
}

.popup p{
	font-family: inherit;
	font-size: 16px;
	line-height: 24px;
}

.pop-link{
	font-family: inherit;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	padding:0 4px 2px 4px;
	position: relative;
}
.pop-link::after{
	content: '';
	position: absolute;
	top: 100%;
	left:50%;
	right:50%;
	border-bottom: 2px solid #000;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
.pop-link:hover, .pop-link:focus, .pop-link:active{
	text-decoration: none;
	color: #000;
}
.pop-link:hover::after{
	left:0;
	right:0;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
.pop-msg{
	-webkit-transform: translate(31%,-33%);
	-ms-transform: translate(31%,-33%);
	transform: translate(31%,-33%);
	z-index: 5;
}

.pop-msg::before{
	content: '';
	border-style:solid;
	border-width: 20px 20px 20px 0;
	border-color:transparent #fff transparent transparent;
	position: absolute;
	z-index: 5;
	right:100%;
	top: 30px;
	width: 0;
	height: 0;
}

@media(max-width: 768px){

	.circle{
		width: 60px;
		height: 60px;
	}
	.popup h1{
		font-size: 24px;
	}
	.popup p{
		font-size: 14px;
	}
	.pop-msg{
		-webkit-transform: translate(25%,-31%);
		-ms-transform: translate(25%,-31%);
		transform: translate(25%,-31%);
	}

}

@media(max-width: 680px){
	.btn-wrapper{
		top: 0;
		left: 7%;
		right: 7%;
		width: 100%;
		height: 100%;
		overflow-y:scroll;
	}
	.circle{
		width: 40px;
		height: 40px;
		float: left;
	}
	.pulse-btn{
		-webkit-transform: translate(5px, 10px);
		-ms-transform: translate(5px, 10px);
		transform: translate(5px, 10px);
		font-size: 18px;
	}
	.popup{
		margin: auto;
		float: left;
		width: 70%;
		-webkit-transform: translate(20px,0);
		-ms-transform: translate(20px,0);
		transform: translate(20px,0);
		border-radius: 0;
		background: rgba(255,255,255,0.9)
	}
	.pop-msg::before{
		display: none;
	}
	.pop-msg h1{
		font-size: 21px;
		line-height: 26px;
		margin:20px 0 11px;
	}
	}
