/*
*-------------------------------------------------------
* Main Content of the page
*-------------------------------------------------------
*/

.b-content{
  padding: 100px 80px;

  .b-content-search{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    label{
      color: $color__gray--dark;
      margin-left: 20px;
      @include text($text__size--m,$text__line--m);
    }

    input{
      min-width: 300px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
      text-align: left;
      direction: ltr;
    }
    .b-input-icon{
      background-color: $color__green;
      color: $color__white;
      display: inline-block;
      width: 30px;
      height: 34px;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      float: left;
      i{
        line-height: 34px;
        text-align: center;
      }
    }
  }

  .b-content-table{
    margin: 100px 0;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;

    input{
      width: 200px;
    }
    input[type=number]{
      text-align: left;
      direction: ltr;
      width: 200px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}