/*
*-------------------------------------------------------
* Main Content of the page
*-------------------------------------------------------
*/

.b-content{
  padding: 100px 80px 0;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .b-content-search{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    label{
      color: $color__gray--dark;
      margin-left: 20px;
      @include text($text__size--m,$text__line--m);
    }

    input{
      min-width: 300px;
      height: 50px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
      text-align: left;
      direction: ltr;
      @include text($text__size--m, $text__line--m);
      font-weight: 500;
      color: $color__gray--dark;
    }
    .remove{
      padding:0;
      background-color: transparent;
      border:0;
      color: #ca1212;
      @include text($text__size--m,$text__line--m);
      position: absolute;
      top: 10px;
      right: 320px;
    }
    .b-input-icon{
      background-color: $color__green;
      color: $color__white;
      display: inline-block;
      width: 45px;
      height: 50px;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      float: left;
      i{
        line-height: 50px;
        text-align: center;
      }
    }

    .search-alert{
      margin-top: 20px;
      display: none;
      .close{
        top:4px;
      }
    }
  }

  .b-content-table{
    margin: 100px 0 0;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-height: 600px;
    overflow-y: scroll;

    td,
    th{
      line-height: inherit;
    }
    input{
      width: 200px;
    }
    input[type=number]{
      text-align: left;
      direction: ltr;
      width: 200px;
    }
    .td-submit{
      .fa-refresh{
        color: $color__gray--dark;
      }
    }

    // Status Classes
    .entered{
      background-color: #ccc;
      color: #777;
    }

  }
}