/////////////////////////////////////////////////
//                                             //
//                    BASE                     //
//                                             //
//        Site-wide mixins and functions       //
//                                             //
/////////////////////////////////////////////////


$color__white: #FFFFFF;
$color__black: #000000;

$color__orange: #ff7404;

$color__blue: #2395d6;

$color__blue-gray: #28323e;
$color__blue-gray--dark: #212a35;

$color__gray--light: #9daeb8;
$color__gray--dark: #596974;


// ## Calculates em size based on required pixel size and context.
// $target: (required) Required pixel size
// $context: (optional) Current font size used to calculate em value
// Returns: Em value
@function calc-em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}