/*
*-------------------------------------------------------
* Banner Slider Style
*-------------------------------------------------------
*/

.owl-nav,
.owl-dots{
  display: none;
}

.banner,
.services{
  .owl-nav{
    display: block;
    @media(max-width: 768px){
      display: none;
    }
    .owl-prev,
    .owl-next{
      position: absolute;
      top: 50%;
      @include text($text__size--l,$text__line--l);
      color: $color__white;
    }
    .owl-prev{
      left:0;
      padding-left: 30px;
    }
    .owl-next{
      right:0;
      padding-right: 30px;
    }
  }
}

.slider__item{
  height: 400px;
  display: table;
  width: 100%;
  .slider__item--inner{
    display: table-cell;
    vertical-align: middle;
    .slider__item--content{
      h1{
        color: $color__white;
        margin:0 auto 30px;
        font-weight: 600;
      }
      p{
        color: $color__white;
        font-weight: 200;
        margin-bottom: 35px;
      }
      a.btn{
        margin-bottom: 0;
      }
    }
  }

  &.center{
    .slider__item--content{
      max-width: 900px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.image-left{
    .slider__item--content{
      text-align: right;
      @media (max-width: 991px) {
        text-align: center;
      }
    }
    .slide-image{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      max-height: 200px;
      height: auto;
      width: auto;
      max-width: 100%;
      @media (max-width: 991px) {
        margin-bottom: 20px;
        max-height: 100px;
      }
    }
  }

  &.image-right{
    .slider__item--content{
      text-align: right;
      @media (max-width: 991px) {
        text-align: center;
      }
    }
    .slide-image{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      max-height: 200px;
      height: auto;
      width: auto;
      max-width: 100%;
      @media (max-width: 991px) {
        margin-bottom: 20px;
        max-height: 100px;
      }
    }
  }
}
