/*
*-------------------------------------------------------
* Header styles
*-------------------------------------------------------
*/

.nav-list{
  @extend .list-reset;
  display: inline-block;
  .nav-list__item{
    list-style-type: none;
  }
  a{
    @include text($text__size--s,$text__line--s);
    font-weight: 500;
    opacity: 0.5;
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited{
      color: $color__white;
    }
    &:hover{
      opacity: 1;
    }
  }
}


.btn-list{
  @extend .list-reset;
  display: inline-block;
  .nav-list__item--tablet{
    display: none;
  }
  li{
    @media (max-width: 424px) {
      padding: 0 2px;
    }
    a{
      @include text($text__size--s,$text__line--s);
      font-weight: 500;
      opacity: 0.5;
      &,
      &:hover,
      &:active,
      &:focus,
      &:visited{
        color: $color__white;
      }
      &:hover{
        opacity: 1;
      }
    }
  }
}

header {
  a:last-child{
    margin:0;
  }
  a.btn{
    opacity: 1;
  }
}

@media(max-width: 768px){
  .nav-list{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    background: #ff7404;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
    .nav-list__item{
      text-align: center;
      display: block;
      padding: 7px 0;
      @include text($text__size--m, $text__line--m);
      a{
        opacity: 1;
      }
    }
  }

  .btn-list{
    .nav-list__item--tablet{
      display: inline-block;
    }
  }
}