/*
*-------------------------------------------------------
* Module: Layout
*-------------------------------------------------------
*/

//
// Main layout
// This file controls the presentation of all components
//  .wrapper
//    > header
//    > sections
//    > footer
//
// If modified or removed make sure to check the variable
// shared with other components
// -------------------------------------------------------------

html{
  height: 100%;
}

body{
  height: 100%;
}

.wrapper{
  width: 100%;
  height: auto;
  min-width: 100%;
}

.header{
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  padding: 25px 0 0;
  z-index: 5;
  .header__logo{
    // header logo div
    .header__logo--link{
      // header logo a
    }
  }
  @media (max-width: 767px) {
    background: #ff7404;
  }
}
.nav{

}


.banner{
  margin-bottom: 90px;
  background: rgba(255, 116, 4, 0.9) url("../../../public/assets/images/wave.svg") no-repeat center;
  .banner__header{
    position: relative;
    margin: -110px 0 45px;
    padding: 120px 0 0;
    text-align: center;
    height: 600px;
  }
}
