/*
*-------------------------------------------------------
* Page navigations
*-------------------------------------------------------
*/

.page-navigation{
  margin: 40px auto 60px;
  nav{
    text-align: center;
    .pagination{
      .active > a{
        background-color: $color__blue;
        border-color: $color__blue;
      }
    }
    a{
      color: $color__blue;
    }
  }
  .page-navigation--home{
    float: left;
    a{
      @include text($text__size--m,$text__line--m);
    }
  }
}